@use '~@angular/material' as mat;
@import '.~assets/styles/color-palettes/os-blue';
@import '.~assets/styles/color-palettes/wr-erden-blau';
@import '.~assets/styles/color-palettes/wr-universums-schwarz';
@import '.~assets/styles/color-palettes/wr-venus-gelb';

$openslides-primary: mat.define-palette($wr-universums-schwarz);
$openslides-accent: mat.define-palette(mat.$light-blue-palette);
$openslides-warn: mat.define-palette(mat.$red-palette);

$openslides-default-dark: mat.define-dark-theme($openslides-primary, $openslides-accent, $openslides-warn);

