<div class="main-login-wrapper">
    <div class="content-wrapper">
        <mat-toolbar class="login-logo-bar" color="primary">
            <a routerLink="/login" [queryParams]="{ checkBrowser: false }" class="p-3">
                <!--<img src="assets/img/wr-logo-colored-dark.svg" alt="OpenSlides-logo" />-->
                <div class="logo-animated-container">
                    <div class="logo-animated">
                        <div class="innerCircle"></div>
                        <div class="orbit animation1">
                            <div class="trabant-1"></div>
                        </div>
                        <div class="orbit animation2">
                            <div class="trabant-2"></div>
                        </div>
                        <div class="orbit animation3">
                            <div class="trabant-3"></div>
                        </div>
                        <div class="bandage">
                            
                        </div>
                    </div>
                </div>
            </a>
        </mat-toolbar>

        <div class="main-router">
            <router-outlet></router-outlet>
        </div>

        <div class="footer">
            <a href="https://openslides.com" target="_bank">© Copyright by OpenSlides</a>
            &middot;
            <a routerLink="/login/legalnotice">
                {{ 'Legal notice' | translate }}
            </a>
            &middot;
            <a routerLink="/login/privacypolicy">
                {{ 'Privacy policy' | translate }}
            </a>
        </div>
    </div>
</div>
